doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    meta(name="description",content="")
    meta(name="Derek Nelson", content="jsbits.com")
    meta(name="viewport", content="width=device-width; initial-scale=1.0")

    script(type="text/javascript", src="//use.typekit.net/lys7aul.js")
    script(type="text/javascript")
      try{Typekit.load();}catch(e){}
    
    title Derek Nelson - jsBits.com
    //if lt IE 9
      script(type="text/javascript")
        document.createElement("article");
        document.createElement("footer");
        document.createElement("header");
        document.createElement("hgroup");
        document.createElement("nav");
    
    // Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references
    link(rel="shortcut icon", href="favicon.ico")
    link(type="text/stylesheet", rel="stylesheet", href="style.css")
    //if lt IE 9
      script(src="//html5shim.googlecode.com/svn/trunk/html5.js")

  body(style="display:none;")
    div(id="container")
      header
        h1
          span(class="fn")
            a(href="http://www.jsbits.com") Derek Nelson
          noscript
            span(class="tagline") is a web developer.

      p.lead I do Javascript things and love the internet.

      div(id="code-pane", style="display:none;")
        h3 Recent Code

      ul.inline
        li: a(href="https://github.com/nelson54")
          img(src="images/icons/github_32.png")
        li: a(href="http://forrst.com/people/dereknelson01")
          img(src="images/icons/forrst_32.png")
        li: img(src="images/icons/coderwall_32.png")
        li: a(href="http://www.linkedin.com/profile/view?id=210543755")
          img(src="images/icons/linkedin_32.png")
        li: a(href="https://twitter.com/DerekNelson01")
          img(src="images/icons/twitter_32.png")
        li: a(href="https://www.facebook.com/nelson54")
          img(src="images/icons/facebook_32.png")
        li: a(href="mailto:dereknelson01@gmail.com")
          img(src="images/icons/email_32.png")

      p(class="footer") This site is licensed under a
        a(class="subfoot", href="http://creativecommons.org/licenses/by/3.0/", rel="license") Creative Commons Attribution 3.0 License
        | .

  script(type="text/javascript")
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

  script(type="text/javascript")
    try{
        var pageTracker = _gat._getTracker("UA-24444286-1");
        pageTracker._trackPageview();
    } catch(err) {}

  script(type="text/javascript", src="app.js")

